:root {
  --nmf-input-accent-color: #10b981;
  --nmf-input-border-color: #d1d5db;
  --nmf-input-background-color: #f4f3f2;
  --nmf-input-color: #111827;
  --nmf-input-error-color: #dc2626;
  --nmf-select-caret-color: var(--nmf-input-color);
  --nmf-border-radius: 0.275rem;
  --nmf-font-size: 0.875rem;
  --nmf-input-height: 2.25rem;
}

html.dark {
  --nmf-input-accent-color: #1fb86b;
  --nmf-input-border-color: #3c3c3c;
  --nmf-input-background-color: #1a1a1a;
  --nmf-lookup-hover-background-color: #242424;
  --nmf-input-color: #f4f3f2;
  --nmf-input-error-color: #dc2626;
  --nmf-select-caret-color: var(--nmf-input-color);
}

/** Form field wrapper **/
.nmf-field-wrapper {
  position: relative;
  display: block;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
}

.nmf-field-wrapper.loading select {
  background-image: none !important;
}

.nmf-field-wrapper.loading
  input[type="date"]::-webkit-calendar-picker-indicator,
.nmf-field-wrapper.loading
  input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  pointer-events: none;
}

.nmf-label {
  display: block;
  font-weight: 500;
  font-size: var(--nmf-font-size);
  margin-bottom: 0.25rem;
}

.nmf-required {
  color: var(--nmf-input-error-color);
  font-size: var(--nmf-font-size);
}

.nmf-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Control wrapper */
.nmf-control-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  min-width: 0;

  gap: 0.5rem;

  padding: 0 0.75rem;

  background-color: var(--nmf-input-background-color);
  border: 1px solid var(--nmf-input-border-color);
  border-radius: var(--nmf-border-radius);

  transition:
    border-color 0.15s ease,
    box-shadow 0.15s ease;
}

.frameless-control {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

.nmf-control-wrapper.nmf-select {
  padding: 0;
}

.nmf-control-wrapper.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.nmf-control-wrapper.readonly {
  opacity: 0.8;
  cursor: default;
}

.nmf-control-wrapper:focus-within {
  box-shadow: 0 0 0 1px var(--nmf-input-accent-color);
}

.nmf-control-wrapper.error {
  box-shadow: 0 0 0 1px var(--nmf-input-error-color);
}

.nmf-control-wrapper.error:focus-within {
  box-shadow: 0 0 0 2px var(--nmf-input-error-color);
}

.nmf-control-wrapper.drag-drop-enabled {
  cursor: pointer;
}

.nmf-control-wrapper.drag-drop-enabled.drag-over {
  box-shadow: 0 0 0 2px var(--nmf-input-accent-color);
}

/** Standard control field **/
.nmf-control {
  flex: 1 1 auto;
  min-width: 0;
  height: var(--nmf-input-height);

  font-size: var(--nmf-font-size);
  line-height: 1.25rem;

  border: none;

  background: transparent;
}

.nmf-control:focus {
  outline: none;
}

.nmf-control:disabled {
  cursor: not-allowed;
}

.nmf-prefix,
.nmf-suffix {
  background: transparent;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border: none;
}

/** Select control **/
.nmf-control-wrapper.nmf-select::after {
  content: "";
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  pointer-events: none;

  background-color: var(--nmf-select-caret-color);

  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='black' d='M5 7l5 5 5-5z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='black' d='M5 7l5 5 5-5z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.nmf-control-wrapper.nmf-select.disabled::after {
  --nmf-select-caret-color: transparent;
}

select.nmf-control {
  display: block;
  width: 100%;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: var(--nmf-input-background-color);
  color: var(--nmf-input-color);
}

.nmf-select > .nmf-control {
  padding: 0.5rem 0.75rem;
}

/** Textarea control **/
.nmf-textarea > .nmf-control {
  height: auto;
  resize: vertical;
  padding: 0.5rem 0.25rem;
}

/** Password toggle **/
.nmf-password-toggle {
  position: absolute;
  right: 0.25rem;

  background: none;
  border: none;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: var(--nmf-font-size);
  line-height: 1;
}

/** Lookup control + options **/
.nmf-clear-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-size: var(--nmf-font-size);
  line-height: 1;
}

.nmf-options-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--nmf-input-background-color);
  border: 1px solid var(--nmf-input-border-color);
  border-radius: 0.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 225px;
  overflow-y: auto;
}

.nmf-options-list.upward {
  top: auto;
  bottom: 100%;
}

.nmf-options-list li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.nmf-options-list li:hover,
.nmf-options-list li.active {
  background-color: var(--nmf-lookup-hover-background-color);
}

/** Hint  & loading **/
.nmf-hint-label {
  font-size: calc(var(--nmf-font-size) * 0.9);

  height: 16px;

  margin-top: 0.25rem;
  margin-bottom: 0;

  min-height: 16px;
}

.nmf-hint-label.error {
  color: var(--nmf-input-error-color);
}

.nmf-loading {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0.75rem;
}

.nmf-spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;

  border: 2px solid var(--nmf-input-border-color);
  border-top-color: var(--nmf-input-accent-color);
  border-radius: 50%;

  animation: nmf-spin 0.8s linear infinite;
}

@keyframes nmf-spin {
  to {
    transform: rotate(360deg);
  }
}

/** Remove arrows from number fields **/
.nmf-hide-stepper::-webkit-outer-spin-button,
.nmf-hide-stepper::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nmf-hide-stepper {
  appearance: textfield;
  -moz-appearance: textfield;
}
