<div class="flex flex-col h-screen bg-secondary">
  <nav
    class="flex justify-between px-4 py-2 items-center bg-tertiary sticky top-0 z-10"
  >
    <a class="flex gap-2 items-center" routerLink="/">
      <img src="favicon.png" width="40" height="40" />
      <h1 class="text-lg text-text">ng-modular-forms</h1>
      <a
        class="p-3 leading-none rounded-md hover:bg-teriary hover:shadow-lg"
        routerLink="/examples"
        >Examples</a
      >
    </a>

    <div class="flex items-center gap-6">
      <a
        class="p-3 leading-none rounded-md hover:bg-tertiary hover:shadow-lg"
        href="https://github.com/ronbodnar/ng-modular-forms/"
        target="_blank"
        >GitHub</a
      >
      <a
        class="p-3 leading-none rounded-md hover:bg-tertiary hover:shadow-lg"
        href="https://github.com/ronbodnar/ng-modular-forms/"
        target="_blank"
        >NPM</a
      >
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
