<div
  class="flex flex-col min-h-screen bg-primary text-text font-sans selection:bg-accent/30"
>
  <nav
    class="flex justify-between px-4 py-2 items-center bg-tertiary sticky top-0 z-10"
  >
    <div class="flex gap-2 items-center">
      <a class="flex gap-2 items-center" routerLink="/">
        <img src="favicon.png" width="40" height="40" />
        <h1 class="text-lg text-text">ng-modular-forms</h1>
      </a>

      <a
        class="p-3 leading-none rounded-md hover:bg-tertiary hover:shadow-lg"
        routerLink="/docs/guides/getting-started"
        >Getting Started</a
      >

      <a
        class="p-3 leading-none rounded-md hover:bg-tertiary hover:shadow-lg"
        routerLink="/docs/examples"
        >Examples</a
      >
    </div>

    <div class="flex gap-6 items-center">
      <button
        mat-icon-button
        (click)="setNextTheme()"
        [matTooltip]="nextThemeLabel()"
      >
        <mat-icon>{{ nextThemeIcon() }}</mat-icon>
      </button>

      <a
        class="p-3 leading-none rounded-md hover:bg-tertiary hover:shadow-lg"
        href="https://github.com/ronbodnar/ng-modular-forms/"
        target="_blank"
        >GitHub</a
      >
      <a
        class="p-3 leading-none rounded-md hover:bg-tertiary hover:shadow-lg"
        href="https://www.npmjs.com/package/@ng-modular-forms/core"
        target="_blank"
        >NPM</a
      >
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer
    class="mx-auto w-full max-w-5xl flex justify-between items-center text-[12px] uppercase tracking-widest opacity-40"
  >
    <p>&copy; 2026 ng-modular-forms</p>
    <div class="flex gap-6">
      <a href="https://github.com/ronbodnar/ng-modular-forms">GitHub</a>
      <a href="https://www.npmjs.com/package/@ng-modular-forms/core">NPM</a>
    </div>
  </footer>
</div>
